$primary-color: rgb(70, 70, 70);
$secondary-color: #c5c5c5;
$show-home-image: true;
$home-image: url(../img/background3.jpg) center/cover;

@mixin easeOut {
  transition: all 0.6s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#home {
      background: $home-image;
      background-attachment: fixed;
      width: 100%;
      opacity: 0.9;
    }
  }
}

@mixin mobileBackground {
  @if $show-home-image {
    &#home {
      background: none;
      background-attachment: fixed;
      background-size: cover;
      background-color: grey;
      background-position: center center;
    }
  }
}

// Setting Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//Media Query Mixins

@mixin mediaSm {
  //Works on screens 500px or less
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMed {
  //Works on screens 768px or less
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  //Works on screens between 769px to 1170px
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  //Works on screens between 769px to 1170px
  @media screen and (min-width: 1171px) {
    @content;
  }
}
