// Widescreens

@include mediaXL {
}

// Desktops and Laptops
@include mediaLg {
}

// Tablets and smaller laptops
@include mediaMed {
  main {
    @include mobileBackground;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100%;

    .container {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
    }

    .arrow {
      font-size: 50px;
      color: #fff;
      transition: color 0.5s ease;
      position: static;
      margin-top: 60px;
    }
  }

  .first,
  .last {
    text-align: center;
    white-space: nowrap;
  }

  .about-info {
    padding: 0;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .item {
      width: 60%;
      margin-bottom: 60px;
    }
  }

  form .input {
    width: 70%;
  }
}

// Smart phones
@include mediaSm {
  main {
    @include mobileBackground;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100%;

    .container {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
    }

    .arrow {
      font-size: 50px;
      color: #fff;
      transition: color 0.5s ease;
      position: static;
      margin-top: 10px;
    }
  }

  .first,
  .last {
    text-align: center;
    white-space: nowrap;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;

    .bio {
      width: 85%;
    }

    .job1 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      img.logo {
        width: 50%;
        height: 50%;
      }
    }

    .resume-link {
      width: 50%;
    }
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .item {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  form .input {
    width: 70%;
  }
}
