@import "config";
@import "menu";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $secondary-color;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0;
  }
}

.blast {
  font-size: 4.5rem;
  color: #fff;
}

.blast:hover {
  color: rgb(91, 148, 233);
  @include easeOut();
  animation-name: pulse;
  animation-duration: 1s;
}

.space {
  margin-right: 1.6rem;
}

.container {
  margin-top: 8rem;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.third-color {
  color: $secondary-color;
}

main {
  @include background;
  padding: 4rem;
  height: 100vh;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: rgb(91, 148, 233);
        @include easeOut();
      }
    }
  }
}

.nav-bar {
  background-color: #000;
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.work-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.about-info {
  display: grid;
  grid-gap: 3rem;
  grid-template-areas: "bio job1";
  grid-template-columns: repeat(2, 1fr);
  font-family: "Roboto", sans-serif;

  .bio-image {
    margin: auto;
    border-radius: 50%;
    border: rgb(201, 201, 201) 3px solid;
    width: 200px;
    height: 200px;
  }

  .bio {
    grid-area: bio;
    font-size: 1.2rem;
    text-align: center;
  }

  .job-1 {
    grid-area: job1;
  }

  .job {
    background: lighten($primary-color, 6);
    padding: 2.5rem;
    border-bottom: rgb(201, 201, 201) 5px solid;
    text-align: center;
  }

  .logo {
    width: 100px;
    height: 100px;
    padding: 1rem;
    opacity: 0.75;
  }

  .js-logo {
    border-radius: 50%;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten(#333, 50);
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.resume-link {
  font-size: 14px;
  text-decoration: underline;
}

h6 {
  text-align: center;
  font-style: italic;
}

Contact form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .input {
    width: 40%;
    padding: 0.5rem;
    margin: 2px;
    border: 1px #fff solid;
    background-color: lighten($color: $primary-color, $amount: 50);
    border-radius: 2px;
  }

  .btn-submit {
    margin: 10px;
    padding: 10px;
    width: 25%;
    text-transform: uppercase;
    border: 1px #fff solid;
    border-radius: 20px;
    background-color: lighten($color: $primary-color, $amount: 50);
    color: $primary-color;
    transition: background 500ms ease;
    //hover over btn
    &:hover {
      background: #fff;
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 5);
  color: set-text-color($primary-color);
  height: 60px;
}

//initiate this last
@import "mobile";
